<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Usuario | LPF</title>
    <script src="https://kit.fontawesome.com/70cc7e71fa.js" crossorigin="anonymous"></script>
</head>
<body>
    <a href="/"><i class="fa-solid fa-arrow-left"></i></a>

    <div class="main">
        <p class="alta" align="center">Alta Usuario</p>
        <form class="form1" action="/altausuario" method="post">
            <input class="un" name="name" type="text" align="center" placeholder="Nombre" required autocomplete="off" autofocus>
            <input class="un" name="surname" type="text" align="center" placeholder="Apellido" required autocomplete="off">
            <div class="radios" align="center">
                <div class="radio">
                    <label for="A">ADMIN</label>
                    <input class="un" name="role" type="radio" required value="A">
                </div>
                <div class="radio">
                    <label for="J">JUGADOR</label>
                    <input class="un" name="role" type="radio" required value="J">
                </div>
            </div>
            <input class="un" name="dtbirth" type="date" align="center" placeholder="Fecha de Nacimiento" required autocomplete="off">
            <input class="un" name="pos" type="text" align="center" placeholder="Posición Principal" required autocomplete="off">
            <input class="un" name="pos2" type="text" align="center" placeholder="Posición Secundaria" autocomplete="off">
            <input class="un" name="username" type="text" align="center" placeholder="Nombre de Usuario" required autocomplete="off">
            <input class="un" name="password" type="text" align="center" placeholder="Contraseña" required autocomplete="off">
            <input type="submit" value="Dar de Alta" class="submit" align="center" id="submitButton">
        </form>
    </div>

    <style>
        .fa-arrow-left {
            font-size: 20px;
        }

        .radios {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px 20px;
            margin: 0;
        }

        .radio {
            height: 100%;
            width: 30%;
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .radio input, .radio label {
            width: 30%;
            margin: 0;
            margin-top: 2px;
        }

        .alta {
            padding-top: 40px;
            color: #8C55AA;
            font-family: 'Ubuntu', sans-serif;
            font-weight: bold;
            font-size: 23px;
        }

        form.form1 {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        body {
            background-color: #F3EBF6;
            font-family: 'Ubuntu', sans-serif;
        }

        .main {
            background-color: #FFFFFF;
            width: 400px;
            margin: 7em auto;
            border-radius: 1.5em;
            box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        }

        .submit {
            cursor: pointer;
            border-radius: 5em;
            color: #fff;
            background: linear-gradient(to right, #9C27B0, #E040FB);
            border: 0;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 10px;
            padding-top: 10px;
            font-family: 'Ubuntu', sans-serif;
            margin-left: 35%;
            font-size: 13px;
            box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        }


        .un {
            width: 76%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: rgba(136, 126, 126, 0.04);
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.02);
            margin-bottom: 50px;
            margin-left: 46px;
            text-align: center;
            margin-bottom: 27px;
            font-family: 'Ubuntu', sans-serif;
        }

        .un:focus {
            border: 2px solid rgba(0, 0, 0, 0.18) !important;
            
        }

    </style>
    
    
</body>
</html>