<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LPF</title>
</head>
<body>
    <header>
        <p><%= user_info.user_name %>: <% if (user_info.user_role == 'A') { %>
                                                ADMINISTRADOR
                                        <% } else { %> 
                                                JUGADOR
                                        <% } %>
        %></p>

        <button id="b_logout">Cerrar Sesión</button>
        
    </header>

    <div class="main">
        <% if (user_info.user_role == 'A') { %> 
            <button class="admin_buttons" id="b_altaUsuario">Dar de alta un usuario</button>
            <button class="admin_buttons" id="b_crearPartido">Crear partido</button>
            <button class="admin_buttons" id="b_proponerHorario">Proponer Horario</button>
        <% } %> 


        <% if (matches_info.length > 0) { %> 
            <% for (var m = 0; m < matches_info.length; m++) {%>                
                <p>Partido <%= matches_info[m].match_id %>. Hora <%= matches_info[m].match_hour %></p>
            <% }%>                
        <% } %> 
    </div>

    <script src="/js/home.js"></script>

</body>
</html>