.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000;
}

.dtbirth {
    margin: 0;
    height: 30%;
}

#svg {
    /* width: 10%; */
    height: 70%;
}

.stats {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
}